*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
.list-group{
  list-style: none;
  margin: 10px;
  text-align:start;
}
.list-group-item{
  padding:12px 0 0 5px;
  border: 1px solid black;
  height: 40px;
}

.navigation{
  display: flex;
  list-style: none;
  color: rgb(45, 174, 174);
  margin: 10px;
}
.page-item{
    padding-top: 5px;
    text-align:center;
}
.page-item button{
  height: 30px;
    width: 30px;
}
button:focus{
  background-color:rgb(133, 229, 229);
}

a{
  text-decoration: none;
}
